.list {
  width: 26rem;
  margin-right: 2rem;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .fade3 {
      margin-left: 0.5rem;
      font-size: 1.2rem;
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;

    .icon1 {
      margin-right: 0.8rem;
    }
  }

  card-wrapper {
    width: 100%;
  }
}
