body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--icon-color);
  cursor: pointer;
}

.header-content {
  font-weight: 600;
  font-size: 1.2rem;
}

.fade {
  color: #1112;
}
.fade1 {
  color: #1111;
}
.fade2 {
  color: #1113;
}
.fade3 {
  color: #1115;
}

:root {
  --primary-color: #ffff;
  --secondary-color: #f4f5f8;
  --text-fade: #888;
  --icon-color: #1115;
  /* --header-font:  */
}
